<h1>Pokemons</h1>
<table width="100%" cellspacing="0" cellpadding="0" border="1">
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Abilities</th>
    <th>Stats</th>
  </tr>
  <% @pokemons.each do |pokemon| %>
  <tr>
    <td>
      <%= link_to(pokemon.name.capitalize, edit_pokemon_path(pokemon), :class => 'action edit') %>
    </td>
    <td><%= pokemon.height %></td>
    <td><%= pokemon.weight %></td>
    <td>
      <ul>
        <% pokemon.abilities.each do |ability| %>
        <li><%= ability.name.capitalize %></li>
        <% end %>
      </ul>
    </td>
        <td>
      <ul>
        <% pokemon.stats.each do |stat| %>
        <li><%= stat.name.capitalize %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>