<div class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="">
        <img src="../assets2/img/pngegg.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Poke Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  active" href="../pages/dashboard.html">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 45 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>office</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1716.000000, -439.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g transform="translate(0.000000, 148.000000)">
                        <path class="color-background opacity-6" d="M46.7199583,10.7414583 L40.8449583,0.949791667 C40.4909749,0.360605034 39.8540131,0 39.1666667,0 L7.83333333,0 C7.1459869,0 6.50902508,0.360605034 6.15504167,0.949791667 L0.280041667,10.7414583 C0.0969176761,11.0460037 -1.23209662e-05,11.3946378 -1.23209662e-05,11.75 C-0.00758042603,16.0663731 3.48367543,19.5725301 7.80004167,19.5833333 L7.81570833,19.5833333 C9.75003686,19.5882688 11.6168794,18.8726691 13.0522917,17.5760417 C16.0171492,20.2556967 20.5292675,20.2556967 23.494125,17.5760417 C26.4604562,20.2616016 30.9794188,20.2616016 33.94575,17.5760417 C36.2421905,19.6477597 39.5441143,20.1708521 42.3684437,18.9103691 C45.1927731,17.649886 47.0084685,14.8428276 47.0000295,11.75 C47.0000295,11.3946378 46.9030823,11.0460037 46.7199583,10.7414583 Z"></path>
                        <path class="color-background" d="M39.198,22.4912623 C37.3776246,22.4928106 35.5817531,22.0149171 33.951625,21.0951667 L33.92225,21.1107282 C31.1430221,22.6838032 27.9255001,22.9318916 24.9844167,21.7998837 C24.4750389,21.605469 23.9777983,21.3722567 23.4960833,21.1018359 L23.4745417,21.1129513 C20.6961809,22.6871153 17.4786145,22.9344611 14.5386667,21.7998837 C14.029926,21.6054643 13.533337,21.3722507 13.0522917,21.1018359 C11.4250962,22.0190609 9.63246555,22.4947009 7.81570833,22.4912623 C7.16510551,22.4842162 6.51607673,22.4173045 5.875,22.2911849 L5.875,44.7220845 C5.875,45.9498589 6.7517757,46.9451667 7.83333333,46.9451667 L19.5833333,46.9451667 L19.5833333,33.6066734 L27.4166667,33.6066734 L27.4166667,46.9451667 L39.1666667,46.9451667 C40.2482243,46.9451667 41.125,45.9498589 41.125,44.7220845 L41.125,22.2822926 C40.4887822,22.4116582 39.8442868,22.4815492 39.198,22.4912623 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " onclick="getMorePokeballs();" href="">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>shop</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <path class="color-background opacity-6" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
                        <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Get more Pokeballs</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="javascript: newCustomPokemon();">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
              <svg width="12px" height="12px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>shop</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g transform="translate(-1869.000000, -293.000000)" fill="#FFFFFF" fill-rule="nonzero">
                    <g transform="translate(1716.000000, 291.000000)">
                      <g id="office" transform="translate(153.000000, 2.000000)">
                        <path class="color-background opacity-6" d="M12.25,17.5 L8.75,17.5 L8.75,1.75 C8.75,0.78225 9.53225,0 10.5,0 L31.5,0 C32.46775,0 33.25,0.78225 33.25,1.75 L33.25,12.25 L29.75,12.25 L29.75,3.5 L12.25,3.5 L12.25,17.5 Z"></path>
                        <path class="color-background" d="M40.25,14 L24.5,14 C23.53225,14 22.75,14.78225 22.75,15.75 L22.75,38.5 L19.25,38.5 L19.25,22.75 C19.25,21.78225 18.46775,21 17.5,21 L1.75,21 C0.78225,21 0,21.78225 0,22.75 L0,40.25 C0,41.21775 0.78225,42 1.75,42 L40.25,42 C41.21775,42 42,41.21775 42,40.25 L42,15.75 C42,14.78225 41.21775,14 40.25,14 Z M12.25,36.75 L7,36.75 L7,33.25 L12.25,33.25 L12.25,36.75 Z M12.25,29.75 L7,29.75 L7,26.25 L12.25,26.25 L12.25,29.75 Z M35,36.75 L29.75,36.75 L29.75,33.25 L35,33.25 L35,36.75 Z M35,29.75 L29.75,29.75 L29.75,26.25 L35,26.25 L35,29.75 Z M35,22.75 L29.75,22.75 L29.75,19.25 L35,19.25 L35,22.75 Z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <span class="nav-link-text ms-1">Add my Pokemon</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder mb-0">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="<%= logoutPage_path %>" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Log out</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>My Pokemon</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pokemon</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Base HP</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Original</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@pokeData.each do |p|%>
                        <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                            <div>
                                <img src="<%= p[:pokemon_data][:image_route].nil? ? "/assets2/img/pngegg.png" : p[:pokemon_data][:image_route] %>" class="avatar avatar-sm me-3" alt="pokeImage">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm"><%= p[:pokemon_data][:name] %></h6>
                                <p class="text-xs text-secondary mb-0"><%= p[:custom_name] %></p>
                            </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0"><%= p[:pokemon_data][:base_hp] %></p>
                        </td>
                        <td class="align-middle text-center text-sm">
                            <span class="badge badge-sm bg-gradient-<%= p[:is_custom] ? "secondary" : "success" %>"><%= p[:is_custom] ? "Custom" : "Original" %></span>
                        </td>
                        <td class="align-middle">
                            <a href="javascript: viewPokemon(<%= p[:id] %>,'<%= p[:pokemon_data][:name] %>','<%= p[:pokemon_data][:image_route] %>','<%= p[:custom_name].nil? ? "" : p[:custom_name] %>',<%= p[:pokemon_data][:base_hp] %>, <%= p[:is_custom] %>);" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="View pokemon">
                            View
                            </a>
                        </td>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Pokeballs</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pokeball</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Inventory</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Catching rate</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @pokeBallData.each do |p|%>
                        <%if p[:item_data][:is_pokeball] %>
                        <tr>
                        <td>
                            <div class="d-flex px-2">
                            <div>
                                <img id="poke_<%= p[:id] %>" src="<%= p[:item_data][:image_route] %>" class="avatar avatar-sm rounded-circle me-2" alt="pokeball">
                            </div>
                            <div class="my-auto">
                                <h6 class="mb-0 text-sm"><%= p[:item_data][:name] %></h6>
                            </div>
                            </div>
                        </td>
                        <td>
                            <p id="poke_<%= p[:id] %>_q" class="text-sm font-weight-bold mb-0"><%= p[:quantity] %></p>
                        </td>
                        <td class="align-middle text-center">
                            <div class="d-flex align-items-center justify-content-center">
                            <span class="me-2 text-xs font-weight-bold">100%</span>
                            <div>
                                <div class="progress">
                                <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <button onclick="usePokeItem(<%= p[:id] %>,this)" class="btn btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#modal-default">
                            Use
                            </button>
                        </td>
                        </tr>
                        <%end%>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Pokeball -->
    <div class="modal fade" id="modalPokeball" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Catching pokemon. . .</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row justify-content-md-center">
                <div class="col col-lg-auto">
                    <img id="modal-img-poke" style="height: 100% !important;width: 100% !important" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/great-ball.png" class="avatar avatar-xl rounded-circle me-2" alt="pokeball">
                </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Pokemon -->
    <div class="modal fade" id="modalPokemon" tabindex="-1" role="dialog" aria-labelledby="modalPokemon" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title-pokemon">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form text-left">
                    <input id="modal-form-id" type="hidden" class="invisible" placeholder="Name" aria-label="Name" aria-describedby="email-addon">
                    <img id="modal-img-pokemon" style="height: 100% !important;width: 100% !important" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/great-ball.png" class="avatar avatar-xl rounded-circle me-2" alt="pokemon">
                  <label>Name</label>
                  <div class="input-group mb-3">
                    <input id="modal-form-name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="email-addon">
                  </div>
                  <label>Base HP</label>
                  <div class="input-group mb-3">
                    <input id="modal-form-base-hp" type="text" class="form-control" placeholder="Base HP" aria-label="Base HP" aria-describedby="email-addon">
                  </div>
                  <label>Custom Name</label>
                  <div class="input-group mb-3">
                    <input id="modal-form-custom-name" type="text" class="form-control" placeholder="Custom Name" aria-label="Custom Name" aria-describedby="email-addon">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-form-btn-close" onclick="deleteCustomPokemon();" class="btn bg-gradient-danger invisible">Delete</button>
                <button type="button"  onclick="savePokemonCustomData();" class="btn bg-gradient-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal Pokemon Custom -->
    <div class="modal fade" id="modalPokemonCustom" tabindex="-1" role="dialog" aria-labelledby="modalPokemon" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal2-title-pokemon">New Custom Pokemon</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form text-left">
                    <img id="modal2-img-pokemon" style="height: 100% !important;width: 100% !important" src="/assets2/img/pngegg.png" class="avatar avatar-xl rounded-circle me-2" alt="pokemon">
                  <label>Name</label>
                  <div class="input-group mb-3">
                    <input id="modal2-form-name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="email-addon">
                  </div>
                  <label>Base HP</label>
                  <div class="input-group mb-3">
                    <input id="modal2-form-base-hp" type="text" class="form-control" placeholder="Base HP" aria-label="Base HP" aria-describedby="email-addon">
                  </div>
                  <label>Custom Name</label>
                  <div class="input-group mb-3">
                    <input id="modal2-form-custom-name" type="text" class="form-control" placeholder="Custom Name" aria-label="Custom Name" aria-describedby="email-addon" disabled>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button"  onclick="saveCustomPokemon();" class="btn bg-gradient-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
  </main>
  <script>
    function usePokeItem(id){
        $("#modal-img-poke").attr("src",$("#poke_" + id).attr('src'));
        $('#modalPokeball').modal('show');
        $.ajax({
            url: 'dashboard/capturePokemon',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { item_id: id} ),
            processData: false,
            success: function( data, textStatus, jQxhr ){
                console.log(data);
                if(data.error != null){
                    $('#modalPokeball').modal('close');
                    return;
                }
                $( "#modal-img-poke" ).animate({
                    opacity: 0
                }, 2000, function() {
                    $("#modal-img-poke").attr("src",data.data.pokemon.image_route);
                    $( "#modal-img-poke" ).animate({
                        opacity: 1
                    }, 3500, function() {
                        location.reload();
                    });
                });
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }

    function viewPokemon(id, n, i, c, b,is_custom){
        setPokemonModalData(n,i,c,b,is_custom, id);
        $('#modalPokemon').modal('show');
    }

    function setPokemonModalData(name, imgSrc, customName, baseHp, is_custom, id){
        $("#modal-form-name").val(name);
        $("#modal-form-id").val(id);
        $("#modal-title-pokemon").text(name);
        $("#modal-img-pokemon").attr("src",is_custom ? "/assets2/img/pngegg.png" : imgSrc);
        $("#modal-form-custom-name").val(customName);
        $("#modal-form-base-hp").val(baseHp);
        if(!is_custom){
            $( "#modal-form-base-hp" ).prop( "disabled", true );
            $( "#modal-form-name" ).prop( "disabled", true );
            $("#modal-form-btn-close").addClass("invisible");
        }else{
            $("#modal-form-btn-close").removeClass("invisible");
        }    
    }

    function savePokemonCustomData(){
        let id = $("#modal-form-id").val();
        let customName = $("#modal-form-custom-name").val();
        $.ajax({
            url: 'dashboard/savePokemonCN',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { id: id, custom_name: customName} ),
            processData: false,
            success: function( data, textStatus, jQxhr ){
                console.log(data);
                if(data.error != null){
                    $('#modalPokemon').modal('hide');
                    return;
                }
                location.reload();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }

    function deleteCustomPokemon(){
        let id = $("#modal-form-id").val();
        $.ajax({
            url: 'dashboard/deleteCustomPokemon',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { id: id} ),
            processData: false,
            success: function( data, textStatus, jQxhr ){
                console.log(data);
                if(data.error != null){
                    $('#modalPokemon').modal('hide');
                    return;
                }
                location.reload();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }

    function newCustomPokemon(){
        $('#modalPokemonCustom').modal('show');
    }

    function getMorePokeballs(){
        $.ajax({
            url: 'dashboard/newPokeball',
            dataType: 'json',
            type: 'get',
            contentType: 'application/json',
            processData: false,
            success: function( data, textStatus, jQxhr ){
                console.log(data);
                if(data.error != null){
                    
                }
                location.reload();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }

    function saveCustomPokemon(){
        let baseHp = $("#modal2-form-base-hp").val();
        let name = $("#modal2-form-name").val();
        $.ajax({
            url: 'dashboard/savePokemon',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { name: name, base_hp: baseHp} ),
            processData: false,
            success: function( data, textStatus, jQxhr ){
                console.log(data);
                if(data.error != null){
                    $('#modalPokemonCustom').modal('hide');
                    return;
                }
                location.reload();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    }

  </script>
  <!--   Core JS Files   -->
  <script src="../assets2/js/core/popper.min.js"></script>
  <script src="../assets2/js/core/bootstrap.min.js"></script>
  <script src="../assets2/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets2/js/plugins/smooth-scrollbar.min.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets2/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</div>
