<%= link_to("<< Back to List", stats_path, :class => 'back-link') %>

<div class="stats new">
  <h2>Create Stat</h2>

  <%= form_for(@stat) do |f| %>

    <table summary="stat form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>PokemonID</th>
        <td><%= f.text_field(:pokemon_id) %></td>
      </tr>
      <tr>
        <th>StatID</th>
        <td><%= f.text_field(:stat_id) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create stat") %>
    </div>

  <% end %>
</div>
