<% @page_title = "Admin Login" %>

<div class="login">
  <%= form_tag(auth_attempt_login_path, :method => :post) do %>
  <table>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email, params[:email]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
