<%= link_to("<< Back to List", pokemons_path, :class => 'back-link') %>

<div class="pokemon edit">
  <h2>Add Pokemon</h2>

  <%= form_for(@maestro_pokemon, :url => maestros_pokemons_path, :method => 'post') do |f| %>

    <table summary="Pokemon form fields">
      <tr>
        <th>Level</th>
        <td><%= f.number_field(:level) %></td>
      </tr>
      <tr>
        <th>Pokemon</th>
        <td><%= f.collection_radio_buttons(:pokemon_id, Pokemon.all, :id, :name) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Add") %>
    </div>

  <% end %>
</div>
