<%= form_with(model: my_pokemon) do |form| %>
  <% if my_pokemon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_pokemon.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% my_pokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :abilities%>
    <%= form.text_area :abilities %>
  </div>

  <div class="field">
    <%= form.label :base_experience %>
    <%= form.text_field :base_experience %>
  </div>

  <div class="field">
    <%= form.label :forms%>
    <%= form.text_area :forms %>
  </div>

  <div class="field">
    <%= form.label :game_indices %>
    <%= form.text_field :game_indices %>
  </div>

  <div class="field">
    <%= form.label :height%>
    <%= form.text_area :height %>
  </div>

  <div class="field">
    <%= form.label :held_items %>
    <%= form.text_field :held_items %>
  </div>

  <div class="field">
    <%= form.label :pokemon_api %>
    <%= form.text_field :pokemon_api %>
  </div>

  <div class="field">
    <%= form.label :is_default%>
    <%= form.text_area :is_default %>
  </div>

  <div class="field">
    <%= form.label :location_area_encounters %>
    <%= form.text_field :location_area_encounters %>
  </div>

  <div class="field">
    <%= form.label :moves%>
    <%= form.text_area :moves %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :order%>
    <%= form.text_area :order %>
  </div>

  <div class="field">
    <%= form.label :past_types%>
    <%= form.text_area :past_types %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :sprites%>
    <%= form.text_area :sprites %>

    <div class="field">
    <%= form.label :stats%>
    <%= form.text_area :stats %>
  </div>

  <div class="field">
    <%= form.label :types %>
    <%= form.text_field :types %>
  </div>

  <div class="field">
    <%= form.label :weight%>
    <%= form.text_area :weight %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
