<p id="notice"><%= notice %></p>

<h1>My Saved Pokemons</h1>
<div class="card-group">
 <%@my_pokemon.each do |poke|%>
 <div class="row row-cols-1 row-cols-md-1 g-2">
  <div class="col">
  <div class="card" style="max-width: 200rem;"> 
    <%= image_tag  "#{poke.sprites}" , style: 'height:100%;width:auto;'%> 
    <div class="card-body">
        <h5> <%= link_to "#{poke.name}", my_pokemon_path("#{poke.name}")%> </h5>
      <p class="card-text"><small class="text-muted"> <%="SAVED AT: #{poke.updated_at}"%> </small></p>
    </div>
  </div>
     </div>
  </div>
<%end%>
</div>

<%= link_to 'New My Pokemon', new_my_pokemon_path %>
