<% @page_title = "Delete User" %>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users delete">
  <h2>Delete User</h2>

  <%= form_for(@user, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this user?</p>

    <p class="reference-name"><%= "Name: #{f.object.name}" %></p>
    <p class="reference-name"><%= "Type: #{f.object.user_type.user_type}" %></p>

    <div class="form-buttons">
      <%= f.submit("Delete User") %>
    </div>

  <% end %>
</div>
