<!DOCTYPE html>
<html>
  <head>
    <title>PokeApi <%= " - #{@page_title}" unless @page_title.empty? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag('styles') %>
    <%= javascript_include_tag('scripts') %>
  </head>

        <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

  <body>
    <%= yield %>
  </body>
</html>
