<% @page_title="Pokemon info" %>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-secondary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
   <h2 class="fw-bold mb-2 text-uppercase">Pokemon Information:</h2>
<table>
<img class="img-fluid" src="<%= @pokemon.sprite_link %>" alt="..." />
    <tr>
      <th>Name</th>
      <td><%= @pokemon.name.capitalize %></td>
    </tr>
    <tr>
      <th>Base XP</th>
      <td><%= @pokemon.base_experience %></td>
    </tr>
    <tr>
      <th>Height</th>
      <td><%= @pokemon.height %></td>
    </tr>
        <tr>
      <th>Weight</th>
      <td><%= @pokemon.weight %></td>
    </tr>
    <tr>
      <th>Podekex ID</th>
      <td><%= @pokemon.pokedex_id %></td>
    </tr>
    <tr>
      <th>Abilities</th>
      <td>
      <%
      abilities_collection = '' 
      @pokemon.abilities.each do |ability|
      abilities_collection << "#{ability.name},"
      end 
      %>
      <%= abilities_collection.chomp(',') %>
      </td>
    </tr>
    <tr>
      <th>Moves</th>
      <td>
      <%
      moves_collection = '' 
      @pokemon.moves.each do |move|
      moves_collection << "#{move.name},"
      end 
      %>
      <%= moves_collection.chomp(',') %>
      </td>
    </tr>
    <tr>
      <th>Types</th>
      <td>
      <%
      types_collection = '' 
      @pokemon.types.each do |type|
      types_collection << "#{type.name},"
      end 
      %>
      <%= types_collection.chomp(',') %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @pokemon.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @pokemon.updated_at %></td>
    </tr>
  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
