<div class="mb-3">
  <label class="form-label">Name</label>
  <%= f.text_field(:name, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Type</label>
  <%= f.select(:types, options_from_collection_for_select(@all_types, "id", "name", f.object.types.map(&:id)), {}, { :class => "form-select", :multiple => true }) %>
</div>
<div class="mb-3">
  <label class="form-label">Abilities</label>
  <%= f.select(:abilities, options_from_collection_for_select(@all_abilities, "id", "name", f.object.abilities.map(&:id)), {}, { :class => "form-select", :multiple => true }) %>
</div>
<div class="mb-3">
  <label class="form-label">HP</label>
  <%= f.text_field(:hp, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Attack</label>
  <%= f.text_field(:attack, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Defense</label>
  <%= f.text_field(:defense, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Special Attack</label>
  <%= f.text_field(:special_attack, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Special Defense</label>
  <%= f.text_field(:special_defense, :class => "form-control") %>
</div>
<div class="mb-3">
  <label class="form-label">Speed</label>
  <%= f.text_field(:speed, :class => "form-control") %>
</div>