<div class="pokemons">
  <%= link_to("<< Back to List", pokemons_path, :class => 'back-link') %>

  <h2>Update Subject</h2>

  <%= form_for(@pokemon) do |f| %>

    <table summary="Pokemon form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Is default?</th>
        <td><%= f.check_box(:is_default, {}, "yes", "no") %></td>
      </tr>
      <tr>
        <th>Order</th>
        <td><%= f.number_field(:order) %></td>
      </tr>
      <tr>
        <th>Weight</th>
        <td><%= f.number_field(:weight) %></td>
      </tr>
      <tr>
        <th>Height</th>
        <td><%= f.number_field(:height) %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit("Update", :class =>"button") %></td>
      </tr>
    </table>

  <% end %>
</div>
