  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                  <p class="mb-0">Enter your email and password to sign in</p>
                </div>
                <div class="card-body">
                    <% if flash[:error] %>
                        <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> <%= flash[:error]%>
                        </div>
                    <% end %>
                    <%= form_with html: {role: "form"} do |form| %>
                        <label>Email</label>
                        <div class="mb-3">
                            <%= form.text_field :email, class: 'form-control', placeholder: "Email", value: flash[:email].nil? ? nil : flash[:email]%>
                        </div>
                        <label>Password</label>
                        <div class="mb-3">
                            <%= form.password_field :password, class: 'form-control', placeholder: "Password", value: flash[:password].nil? ? nil : flash[:password]%>
                        </div>
                        <div class="text-center">
                            <%= form.submit class: 'btn bg-gradient-info w-100 mt-4 mb-0', value: "Sign in"%>
                        </div>
                    <% end %>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Don't have an account?
                    <a href="<%=login_register_path%>" class="text-info text-gradient font-weight-bold">Sign up</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n8" style="background-image:url('../assets2/img/pika.png')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="../assets2/js/core/popper.min.js"></script>
  <script src="../assets2/js/core/bootstrap.min.js"></script>
  <script src="../assets2/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets2/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets2/js/soft-ui-dashboard.min.js?v=1.0.3"></script>