    <table summary="Pokemon form fields">
          <tr>
        <th>PokemonID</th>
        <td><%= f.text_field(:pokemon_id) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Weight</th>
        <td><%= f.text_field(:weight) %></td>
      </tr>
      <tr>
        <th>Height</th>
        <td><%= f.text_field(:height) %></td>
      </tr>
    <tr>
        <th>Base experience</th>
        <td><%= f.text_field(:base_experience) %></td>
      </tr>
    </table>