<table>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Base HP</th>
    <td><%= f.text_field(:base_hp) %></td>
  </tr>
  <tr>
    <th>Base EXP</th>
    <td><%= f.text_field(:base_exp) %></td>
  </tr>
  <tr>
    <th>Weight</th>
    <td><%= f.text_field(:weight) %></td>
  </tr>
  <tr>
    <th>Height</th>
    <td><%= f.text_field(:height) %></td>
  </tr>
</table>
