<div class="jumbotron">
  <h1>Pokemon List</h1>
</div>
<table class="pt-5 mx-auto">
	<% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= pokemon.name %></td>
      <td><%= pokemon.id %></td>
      <td><%= link_to 'Edit', edit_pokemon_path(id: pokemon.id) %></td>
      <td><%= link_to 'Show', pokemon_path(id: pokemon.id) %></td>
    </tr>
	<% end %>
</table>

<div class="mx-auto">
  <p><%= link_to 'Add New Pokemon Manually', new_pokemon_path %></p>
  <p><%= link_to 'Add New Pokemon from API', pokemon_api_show_path %></p>
</div>
