<div class="d-flex flex-row">
  <div class="mx-auto">
    <h1>Get Info from PokeAPI</h1>
  </div>
</div>

<%= form_tag(api_info_path) do %>
  <table>
    <tr>
      <td><%= label_tag(:pokemon_name) %></td>
      <td><%= text_field_tag(:pokemon_name, params[:pokemon_name]) %></td>
    </tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Get Info") %></td>
    </tr>
  </table>
<% end %>

<br>
<br>
<br>
<br>

<% if @response.present? %>
  <table class="table table-dark">
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <th><%= @response['name'] %></th>
      </tr>
      <tr>
        <th scope="row">ID</th>
        <th><%= @response['id'] %></th>
      </tr>
      <tr>
        <th scope="row">Base EXP</th>
        <th><%= @response['base_experience'] %></th>
      </tr>
      <tr>
        <th scope="row">Weight</th>
        <th><%= @response['weight'] %></th>
      </tr>
      <tr>
        <th scope="row">Height</th>
        <th><%= @response['height'] %></th>
      </tr>
    </tbody>
  </table>

  <%= form_tag(save_pokemon_from_api_path) do %>
    <table>
      <tr>
        <td><%= hidden_field_tag(:name, @response['name']) %></td>
      </tr>
      <tr>
        <td><%= hidden_field_tag(:id, @response['id']) %></td>
      </tr>
      <tr>
        <td><%= hidden_field_tag(:base_experience, @response['base_experience']) %></td>
      </tr>
      <tr>
        <td><%= hidden_field_tag(:weight, @response['weight']) %></td>
      </tr>
      <tr>
        <td><%= hidden_field_tag(:height, @response['height']) %></td>
      </tr>
        <td>&nbsp;</td>
        <td><%= submit_tag("Save Pokemon to DB") %></td>
      </tr>
    </table>
  <% end %>

<% end %>
