<% @page_title = "Admin Login" %>

<div class="login-wrap">
	<div class="login-html">
    <%= form_tag(access_attempt_login_path, :method => :post, :class => 'login-form') do %>
        <div class="sign-in-htm">
			<div class="group">
                <%= label_tag :email, "Email:", :class => 'label' %>
                <%= text_field_tag(:email, params[:email], :class => 'input' )%>
			</div>
			<div class="group">
                <%= label_tag :password, "Password:", :class => 'label' %>
                <%= password_field_tag(:password, params[:password], :class => 'input') %>
            </div>
        </div>            
		<div class="sign-up-htm">
            <div class="group">
                <%= submit_tag("Log In") %>
            </div>
        </div> 
    <% end %>
    </div> 
</div>
