<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_titl ? "#{@page_title}" : "Pokemons" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !session[:email].blank? %>
      <div>
        You are logged in as: <%= session[:email]%>
        [ <%= link_to("Log out", auth_logout_path) %> ]
      </div>
    <% end %>
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
